@font-face {
    font-family: HelveticaNeue;
    src: url(./fonts/HelveticaNeue\ Light.ttf);
}

ul {
    padding-left: 0px
}
 
 .breadcrumbs {
    padding: 20px 0px;
    border-bottom: 1px solid #e9e9e9;

    .breadcrumbs__container {
        width: 1200px;
        margin: 0px auto;
        display: flex;
        
        a {
            color: #666;
        }
    
        p {
            font-size: 0.9rem;
            padding: 5px 15px;
        }

        i {
            padding: 9px 0px;
            font-size: .9rem;
        }
    
    }
 }
 
.account {

    &__container {
        display: flex;
        width: 1200px;
        margin: 0px auto;
        padding: 50px 30px;
        justify-content: center;

        .or {
            margin: auto 10px;

            span {
                display: block;
                width: 1px;
                margin: 0px 25px;
                background: #ddd;
                height: 17vw;
                text-align: center;
            }

            p {
                border: 1px solid #ddd;
                padding: 10px;
                width: 30px;
                border-radius: 50%;
                text-align: center;
                font-size: .75rem;
                font-style: italic;
            }
        }
    }

    &__child {
        width: 550px;
        padding: 30px;
        
    }

    .login {

        &__text-1 {
            font-size: 1.25rem;
            color: #333e48;
            font-weight: 500;
            padding-bottom: 10px;
        }

        span {
            color: red;
            font-size: 18px;
            font-weight: 800;
        }

            .border-bottom {
                display: block;
                width: 65px;
                height: 2px;
                background: #c00a27;
            }
        
        &__text-2 {
            font-size: .75rem;
            margin: 15px 0px;
        }
        
        &__text-3 {
            font-size: .75rem;
            font-weight: 600;
            color: #333e48;
            margin-bottom: 8px;
        }

        div {
            display: flex;
        }

        &__input {
            width: 85%;
            border: 1px solid #ccc;
            padding: 4px;
            border-radius: 25px;
            margin-bottom: 18px;
        }

        .checkbox-text {
            margin-bottom: 0px;
        }

        &__btn {
            padding: 10px 55px;
            border: none;
            background: #c00a27;
            color: #fff;
            font-weight: 600;
            border-radius: 30px;
            cursor: pointer;
            display: block;
        }

        &__btn:hover {
            background-color: #99081f;
        }

        &__text-4 {
            font-size: .85rem;
            color: #2d2b2d;
        }

    }

    .register {

        .border-bottom {
            display: block;
            width: 65px;
            height: 2px;
            background: #c00a27;
        }

        span {
            color: red;
            font-size: 18px;
            font-weight: 800;
        }

        h3 {
            font-weight: 200;
            margin-top: 20px;
            font-size: 1rem;
            color: #4c4c4c;
            font-family: helveticaNeue;
        }

        ul {

            li {
                font-size: .75rem;

                i {
                    font-size: .90rem;
                    padding-right: 10px;
                    color: #5bb300;
                }
            }
        }

    }
}