@media screen and (max-width: 1199px) {
  #header {
    width: auto;
    flex-wrap: wrap;
    display: none;
  }
  .header--nav .order-product {
    flex-wrap: wrap;
    width: auto;
  }
  .main-header {
    padding-top: 0px;
  }
  .header--nav {
    display: none;
  }
  .responsive-header {
    display: flex;
  }
  .paralax {
    background-position: center;
    background-size: cover;
  }
  .paralax h1 {
    padding-bottom: 2vw;
    padding-top: 2vw;
    font-size: 5vw;
  }
  .paralax__text-2--child-1 span {
    padding: 1px 1px;
  }
  .paralax__text-2--child-1 {
    font-size: 4vw;
  }
  .paralax__text-2--child-2 {
    padding: 15px 0px;
  }
  .section-second--col {
    width: auto;
  }
  .section-second--col__container-2 .container-2--child-1 .container2__banner-1 {
    background-position: center;
  }
  .section-second--col__container-2 .container-2--child-1 .container2__banner-1 .banner-text--1 {
    margin-left: 0px;
  }
  .section-second--col__container-2 .container-2--child-1 .container2__banner-1 .banner-text--2 {
    margin-left: 0px;
  }
  .section-second--col__container-2 .container-2--child-1 .container2__banner-1 .banner-text--3 {
    margin-left: 0px;
  }
  .section-second--col__container-2 .container-2--child-1 .container2__banner-2 .banner-text--1 {
    margin-left: 0px;
  }
  .section-second--col__container-2 .container-2--child-1 .container2__banner-2 .banner-text--2 {
    margin-left: 0px;
  }
  .section-second--col__container-2 .container-2--child-1 .container2__banner-2 .banner-text--3 {
    margin-left: 0px;
  }
  .pizza-header {
    width: 82vw;
  }
  .pizza-header ul {
    width: auto;
    flex-wrap: wrap;
  }
  .pizza-header ul .pizza-header__list {
    padding-top: 15px;
  }
  .section-second--col__container-1 .banner-text--1 {
    font-size: 3rem;
  }
  .section-second--col__container-1 .banner-text--2 {
    font-size: 2.5rem;
  }
  .pizza-sets {
    flex-wrap: wrap;
    width: 90%;
  }
  .section-6__container {
    width: auto;
  }
  .section-6 {
    padding: 160px 5vw;
  }
  .section-6__container div {
    width: auto;
  }
  .section-7__container {
    width: auto;
    flex-wrap: wrap;
  }
  .section-7__item {
    width: 287px;
    padding-top: 35px;
  }
  .footer__container {
    width: auto;
  }
  .footer__address ul li {
    padding-top: 15px;
  }
  .account__container {
    width: 950px;
  }
  .breadcrumbs .breadcrumbs__container {
    width: auto;
  }
  .blog {
    width: auto;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  .blog .foods__side-container {
    width: 90%;
    margin: 0px auto;
  }
  .foods__container {
    width: 90%;
    margin: 0px auto;
  }
  .blog__post {
    width: auto;
  }
  .filter {
    flex-wrap: wrap;
    width: 85%;
  }
  .foods {
    flex-wrap: wrap;
    width: auto;
    flex-direction: column-reverse;
  }
  .foods__side-container {
    width: 85%;
    margin: 0px auto;
  }
  .foods__product {
    width: auto;
  }
  .foods__side-container .foods__search .search-product {
    width: 80%;
  }
  .foods__side-container .foods__search i {
    position: absolute;
    margin-left: 0px;
    left: 80%;
  }
  .foods__side-container .foods__nav ul a:hover span {
    display: none;
  }
  .foods__side-container .foods__nav ul a:hover .arrow-right {
    margin-left: 80%;
  }
  .second-header .header-pizza {
    flex-wrap: wrap;
    width: auto;
  }
  .product-page {
    width: 90%;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 950px) {
  .account__container {
    width: 769px;
  }
  .second-header .header-pizza {
    display: none;
  }
}
@media screen and (max-width: 700px) {
  .filter__item-1 {
    width: 100%;
  }
  .filter__item-1 select {
    width: 100%;
    margin-bottom: 15px;
  }
  .filter__item-2 {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  #header {
    width: auto;
    flex-wrap: wrap;
  }
  .header--nav .order-product {
    flex-wrap: wrap;
    width: auto;
  }
  .paralax {
    height: 80vh;
  }
  .paralax h1 {
    font-size: 12vw;
  }
  .paralax__text-2--child-1 {
    font-size: 6vw;
  }
  .paralax__text-2--child-2 {
    font-size: 12vw;
  }
  .section-second--col {
    width: auto;
    flex-wrap: wrap;
  }
  .section-second--col__container-1 {
    padding-bottom: 50px;
    background-size: cover;
    width: 100%;
    margin-bottom: 40px;
  }
  .section-second--col__container-2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section-second--col__container-2 .container-2--child-2 {
    width: 100%;
    background-size: cover;
    margin-top: 40px;
  }
  .section-second--col__container-2 .container-2--child-1 {
    flex-wrap: wrap;
    width: 100%;
  }
  .section-second--col__container-2 .container-2--child-1 .container2__banner-1 {
    width: 100%;
    background-size: cover;
    margin-bottom: 40px;
  }
  .section-second--col__container-2 .container-2--child-1 .container2__banner-2 {
    width: 100%;
    background-size: cover;
  }
  .pizza-header {
    width: 100%;
  }
  .pizza-promo__text-2 {
    font-size: 3rem;
  }
  .pizza-header__list a {
    font-size: 1.5rem;
    padding: 10px;
  }
  .account__container {
    flex-wrap: wrap;
    width: auto;
  }
  .account__container .or {
    display: none;
  }
  .foods__product {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 90%;
    margin: 0px auto;
  }
  .foods__product .foods__text-2 {
    margin-bottom: 15px;
  }
  .foods__product .foods__btn--container {
    width: auto;
  }
  .footer__address ul li:after {
    content: "h";
  }
  .footer__address ul li:after {
    display: none;
  }
  .footer__address ul {
    width: 90%;
    margin: 0px auto;
  }
  .product-page {
    width: 80%;
  }
  .product-page .product-image {
    width: auto;
  }
  .product-page .product-description {
    width: auto;
  }
}/*# sourceMappingURL=media-querry.css.map */