// Product Pizza Page

.second-header {
    background-image:linear-gradient( rgba(0, 0, 0, .2), rgba(0, 0, 0, 0.2) ), url("./assets/img/05-HomePage-FullWidth-cwt.jpg");
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    background-size: cover;
    padding: 20px 0px;

    .header-pizza {
        display: flex;
        width: 1200px;
        margin: 0 auto;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        padding: 10px 0px;

        ul {
            flex-grow: 1;

            li {
                display: inline-block;
                padding: 5px 15px;
                color: #fff;
                font-size: .75rem;
                font-weight: 700;
            }
        }

        .logo__container {
            flex-grow: 2;
        }



        .user-login {
            flex-grow: 2;

            p {
                font-size: .70rem;
                color: #fff;
            }
        }

        .cart-btn {
            flex-grow: 2;

            a {
                display: flex;
                align-items: center;

                i {
                    font-size: 1.1rem;
                    border: 1px solid #fff;
                    padding: 6px;
                    border-radius: 21px;
                    color: #fff;
                    background-color: transparent;
                    margin-right: 10px;
                }

                p {
                    font-size: .75rem;
                    color: #fff;

                    span {
                        font-weight: 700;
                    }
                }
            }

        }
    }

    .pizza-title {
        text-align: center;
        color: #fff;
        font-size: 4rem;
        font-family: "Yanone Kaffeesatz",sans-serif;
        margin-top: 20px;
        padding: 10vh 0px;
    }

    .breadcrumbs-header {
        display: flex;
        justify-content: center;
        color: #fff;
        font-size: .75rem;

        p:nth-child(1) {
            display: flex;

            i {
                font-size: 0.85rem;
                padding: 3px 0px;
                position: relative;
            }

            a {
                color: #fff;
                padding-right: 10px;
            }
        }

        p {
            padding: 0 6px;
        }
    }

}