body, button, input, textarea {
    color: #666;
    font-family: "Open Sans",HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    line-height: 1.75em;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
}



body, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

li {
    list-style-type: none;
}
a {
    text-decoration: none;
}

.logo__container {

    #pizzaro-logo {
        fill: #fff;
        font-size: 3px;
        width: 185px;
        margin: 17px 0px;
    }
}

header {
    background-color: #c12527;
    padding-top: 20px;
}

#header {
    display: flex;
    width: 1200px;
    margin: 0px auto;
    justify-content: space-around;
    padding: 10px 0px;
    border-bottom: 1px solid #c83b3f;
}

.nav {
    &__container {
        display: flex;
        justify-content: space-around;
        padding-left: unset;
}

    &__items {
        list-style-type: none;
        padding: 13px;
        font-size: .80rem;
        font-weight: 600;
        a {
            text-decoration: none;
            color: #fff;
        }
    }
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__address {
        display: flex;
        color: #fff;
        justify-content: space-around;

        p, select {
            font-weight: normal;
            font-size: 0.8rem;
            border: none;
            color: #fff;
            background-color: #c12527;
        }
        
        p {
            margin-right: 5px;
            color: #ed9223;
        }

        select:hover {
            border: none;
        }
    }

    h2 {
        color: #fff;
        text-align: center;
        font-weight: 800;
        letter-spacing: -1px;
    }
}

.add-to-cart {
    color: #fff;
    align-self: center;

    &__container {
        width: 235px;
    }

    i {
        position: absolute;
        padding: 15px 10px;
        font-size: 24px;
        margin-left: 23px;
    }
    &__btn {
        background-color: #8ca93e;
        width: 100%;
        padding: 20px 10px;
        color: #fff;
        font-size: 0.7rem;
        border: none;
        border-radius: 37px;
        font-weight: 800;
    }
}

// Header Navigation

.header--nav {


    .order-product {
        display: flex;
        justify-content: space-between;
        width: 1200px;
        margin: 0px auto;
        padding: 20px 0px;

        li {
            display: flex;
            i {
                color: #ebafc7;
                font-size: 40px;

            }
            a {
                color: #ebafc7;
                align-self: center;
                font-size: .90rem;
                padding: 0px 10px;
            }
        }
    }
}

.paralax {
    background-image: url("../src/assets/img/05-HomePage-FullWidth.jpg");
    background-repeat: no-repeat;

    height: 100vh;
    display: flex;

    &__container {
        margin: auto;
    }

    &__text-1 {
        color: #e63434;
        font-family: "Yanone Kaffeesatz";
        font-size: 60px;
    }

    &__text-2--child-1 {
        color: #fff;
        font-size: 50px;
        font-weight: 200;
        letter-spacing: -1px;
        font-stretch: condensed;
        align-self: center;
    }

    &__text-2--child-2 {
        color: #fff;
        font-size: 10vw;
        padding: 40px 0px;
        font-family: "Yanone Kaffeesatz";
        
    }

    &__col-2 {
        display: flex;
        flex-direction: column;

        span {
            padding: 11px 1px;
        }
    }

    h1 {
        text-align: center;
        padding: 25px 0px;
        display: flex;
        justify-content: center;
    }
}   

// Section Two Banner
.section-second--col {
    display: flex;
    width: 1200px;
    margin: 0px auto;
    justify-content: space-around;
    padding: 70px 0px;

    &__container-1 {
        background-image: url("../src/assets/img/2.jpg");
        width: 48%;
        background-repeat: no-repeat;

        .banner-text--1 {
            font-family: "Yanone Kaffeesatz";
            padding: 60px 50px 0px;
            font-size: 4rem;
            color: #fff;
        }

        .banner-text--2 {
            font-family: "Yanone Kaffeesatz";
            padding: 33px 50px 0px;
            font-size: 3rem;
            font-weight: 100;
            color: #fff;
        }

        .banner-button--1 {
            padding: 5px 25px;
            font-size: 1.25rem;
            font-weight: 300;
            margin: 18px 50px 0px;
            color: #fff;
            font-family: "Yanone Kaffeesatz";
            border-radius: 9px;
            background-color: #c12527;
            border: none;
        }
    }

    &__container-2 {
        width: 48%;

        .container-2--child-1 {
            display: flex;
            justify-content: space-between;

            .container2__banner-1 {
                background-image: url("../src/assets/img/5-1.jpg");
                background-repeat: no-repeat;
                width: 47%;
                height: 210px;
                text-align:center;

                .banner-text--1 {
                    font-family: "Yanone Kaffeesatz";
                    padding-top: 37px;
                    margin-left: 75px;
                    font-size: 3rem;
                    font-weight: 700;
                    color: #fff;
                }

                .banner-text--2 {
                    font-family: "Yanone Kaffeesatz";
                    padding-top: 10px;
                    margin-left: 75px;
                    font-size: 2rem;
                    font-weight: 300;
                    color: #fff;
                }

                .banner-text--3 {
                    font-family: "Yanone Kaffeesatz";
                    padding: 5px 27px;
                    line-height: 20px;
                    margin-left: 73px;
                    font-size: .85rem;
                    font-weight: 500;
                    color: #fff;
                }
            }

            .container2__banner-2 {
                background-image: url("../src/assets/img/4-1.jpg");
                background-repeat: no-repeat;
                background-position: center center;
                height: 210px;
                width: 47%;
                text-align: center;
                
                .banner-text--1 {
                    font-family: "Yanone Kaffeesatz";
                    padding-top: 37px;
                    padding-left: 11px;
                    line-height: 45px;
                    padding-right: 12px;
                    margin-left: 75px;
                    font-size: 3rem;
                    font-weight: 700;
                    color: #fff;
                }

                .banner-text--2 {
                    font-family: "Yanone Kaffeesatz";
                    margin-left: 75px;
                    font-size: 1.80rem;
                    font-weight: 300;
                    color: #fff;
                }

                .banner-text--3 {
                    font-family: "Yanone Kaffeesatz";
                    padding: 5px 27px;
                    line-height: 20px;
                    margin-left: 73px;
                    font-size: .85rem;
                    font-weight: 500;
                    color: #fff;
                }
            }


        }

        .container-2--child-2 {
            background-image: url("../src/assets/img/3-1.jpg");
            background-repeat: no-repeat;
            margin-top: 4%;
            height: 215px;
            justify-content: center;
            display: flex;

            p {
                display: inline-block;
                align-self: center;
            }

            .banner-text--1 {
                color: #fdba3e;
                font-family: "Yanone Kaffeesatz";
                font-size: 2rem;
                font-weight: 300;
            }

            .banner-text--2 {
                font-family: "Yanone Kaffeesatz";
                font-size: 4rem;
                font-weight: 700;
                color: #fff;
            }


        }
    }
}

.pizza-header {

    ul {
        width: 1200px;
        border-bottom:1px solid #9b959b;
        list-style-type: none;
        text-align: center;
        font-family: "Yanone Kaffeesatz";
        margin: 0px auto;
        
    }

    &__list {
        display: inline;

        a {
            text-decoration: none;
            color: #9b959b;
            font-size: 2rem;
            font-weight: 300;
            padding: 0px 25px;
        }
    }
}

.pizza-sets {
    display: flex;
    width: 1200px;
    margin: 70px auto;

    &__container {
        text-align: center;
    }

    &__container:hover {
        border: 7px solid #9f9f9f;
    }

    &__text-1 {
        font-family: "Yanone Kaffeesatz";
        font-weight: 400;
        font-size: 1.50rem;
        color: #2d2b2d;
    }

    &__text-2 {
        font-family: "Yanone Kaffeesatz";
        padding: 8px 69px;
        font-weight: 400;
        font-style: italic;
    }
    
}