body, button, input, textarea {
    color: #666;
    font-family: "Open Sans",HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    line-height: 1.75em;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
}

body {
    overflow-x: hidden;
}

@font-face {
    font-family: HelveticaNeue;
    src: url(./fonts/HelveticaNeue\ Light.ttf);
}

body, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

li {
    list-style-type: none;
}
a {
    text-decoration: none;
}

.logo__container {

    #pizzaro-logo {
        fill: #fff;
        font-size: 3px;
        width: 185px;
        margin: 17px 0px;
    }
}

header {
    background-color: #c12527;
    padding-top: 20px;
}

#header {
    display: flex;
    width: 1200px;
    margin: 0px auto;
    justify-content: space-around;
    padding: 10px 0px;
    border-bottom: 1px solid #c83b3f;
}

.nav {
    &__container {
        display: flex;
        justify-content: space-around;
        padding-left: unset;
}

    &__items {
        list-style-type: none;
        padding: 13px;
        font-size: .80rem;
        font-weight: 600;
        a {
            text-decoration: none;
            color: #fff;
        }
    }

    &__items:hover {
        a {
            color: #e6e6e6;
        }
    }
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__address {
        display: flex;
        color: #fff;
        justify-content: space-around;

        p, select {
            font-weight: normal;
            font-size: 0.8rem;
            border: none;
            color: #fff;
            background-color: #c12527;
        }
        
        p {
            margin-right: 5px;
            color: #ed9223;
        }

        select:hover {
            border: none;
        }
    }

    h2 {
        color: #fff;
        text-align: center;
        font-weight: 800;
        letter-spacing: -1px;
    }
}

.add-to-cart {
    color: #fff;
    align-self: center;

    &__container {
        width: 235px;
    }

    i {
        position: absolute;
        padding: 15px 10px;
        font-size: 24px;
        margin-left: 23px;
    }
    &__btn {
        background-color: #8ca93e;
        width: 100%;
        padding: 20px 10px;
        color: #fff;
        font-size: 0.7rem;
        border: none;
        border-radius: 37px;
        font-weight: 800;
    }
}

// Header Navigation

.header--nav {


    .order-product {
        display: flex;
        justify-content: space-between;
        width: 1200px;
        margin: 0px auto;
        padding: 20px 0px;

        li {
            display: flex;
            i {
                color: #ebafc7;
                font-size: 40px;

            }
            a {
                color: #ebafc7;
                align-self: center;
                font-size: .90rem;
                padding: 0px 10px;
            }
        }

        li:hover {
            i {
                color: #f3f3f3;
            }
            a {
                color: #f3f3f3;
            }
        }
    }
}

.paralax {
    background-image: url("../src/assets/img/05-HomePage-FullWidth.jpg");
    background-repeat: no-repeat;

    height: 100vh;
    display: flex;

    &__container {
        margin: auto;
    }

    &__text-1 {
        color: #e63434;
        font-family: "Yanone Kaffeesatz";
        font-size: 60px;
    }

    &__text-2--child-1 {
        color: #fff;
        font-size: 50px;
        font-weight: 200;
        letter-spacing: -1px;
        font-stretch: condensed;
        align-self: center;
    }

    &__text-2--child-2 {
        color: #fff;
        font-size: 10vw;
        padding: 40px 0px;
        font-family: "Yanone Kaffeesatz";
        
    }

    &__col-2 {
        display: flex;
        flex-direction: column;

        span {
            padding: 11px 1px;
        }
    }

    h1 {
        text-align: center;
        padding: 25px 0px;
        display: flex;
        justify-content: center;
    }
}   

// Section Two Banner
.section-second--col {
    display: flex;
    width: 1200px;
    margin: 0px auto;
    justify-content: space-around;
    padding: 70px 0px;

    &__container-1 {
        background-image: url("../src/assets/img/2.jpg");
        width: 48%;
        background-repeat: no-repeat;

        .banner-text--1 {
            font-family: "Yanone Kaffeesatz";
            padding: 60px 50px 0px;
            font-size: 4rem;
            color: #fff;
        }

        .banner-text--2 {
            font-family: "Yanone Kaffeesatz";
            padding: 33px 50px 0px;
            font-size: 3rem;
            font-weight: 100;
            color: #fff;
        }

        .banner-button--1 {
            padding: 5px 25px;
            font-size: 1.25rem;
            font-weight: 300;
            margin: 18px 50px 0px;
            color: #fff;
            font-family: "Yanone Kaffeesatz";
            border-radius: 9px;
            background-color: #c12527;
            border: none;
        }

        .banner-button--1:hover {
            background-color: #9a1b1f;
            cursor: pointer;
        }
    }

    &__container-2 {
        width: 48%;

        .container-2--child-1 {
            display: flex;
            justify-content: space-between;

            .container2__banner-1 {
                background-image: url("../src/assets/img/5-1.jpg");
                background-repeat: no-repeat;
                width: 47%;
                height: 210px;
                text-align:center;

                .banner-text--1 {
                    font-family: "Yanone Kaffeesatz";
                    padding-top: 37px;
                    margin-left: 75px;
                    font-size: 3rem;
                    font-weight: 700;
                    color: #fff;
                }

                .banner-text--2 {
                    font-family: "Yanone Kaffeesatz";
                    padding-top: 10px;
                    margin-left: 75px;
                    font-size: 2rem;
                    font-weight: 300;
                    color: #fff;
                }

                .banner-text--3 {
                    font-family: "Yanone Kaffeesatz";
                    padding: 5px 27px;
                    line-height: 20px;
                    margin-left: 73px;
                    font-size: .85rem;
                    font-weight: 500;
                    color: #fff;
                }
            }

            .container2__banner-2 {
                background-image: url("../src/assets/img/4-1.jpg");
                background-repeat: no-repeat;
                background-position: center center;
                height: 210px;
                width: 47%;
                text-align: center;
                
                .banner-text--1 {
                    font-family: "Yanone Kaffeesatz";
                    padding-top: 37px;
                    padding-left: 11px;
                    line-height: 45px;
                    padding-right: 12px;
                    margin-left: 75px;
                    font-size: 3rem;
                    font-weight: 700;
                    color: #fff;
                }

                .banner-text--2 {
                    font-family: "Yanone Kaffeesatz";
                    margin-left: 75px;
                    font-size: 1.80rem;
                    font-weight: 300;
                    color: #fff;
                }

                .banner-text--3 {
                    font-family: "Yanone Kaffeesatz";
                    padding: 5px 27px;
                    line-height: 20px;
                    margin-left: 73px;
                    font-size: .85rem;
                    font-weight: 500;
                    color: #fff;
                }
            }


        }

        .container-2--child-2 {
            background-image: url("../src/assets/img/3-1.jpg");
            background-repeat: no-repeat;
            margin-top: 4%;
            height: 215px;
            justify-content: center;
            display: flex;

            p {
                display: inline-block;
                align-self: center;
            }

            .banner-text--1 {
                color: #fdba3e;
                font-family: "Yanone Kaffeesatz";
                font-size: 2rem;
                font-weight: 300;
            }

            .banner-text--2 {
                font-family: "Yanone Kaffeesatz";
                font-size: 4rem;
                font-weight: 700;
                color: #fff;
            }


        }
    }
}

.pizza-header {
    width: 72vw;
    border-bottom: 1px solid #e9e9e9;
    padding: 0px 18px;
    margin: 70px auto;

    ul {
        width: 1200px;
        border-bottom: 1px solid #e9e9e9;
        list-style-type: none;
        display: flex;
        justify-content: center;
        padding-inline-start: 0px;
        margin-block-start: 0em;
        margin-block-end: 0em;
        font-family: "Yanone Kaffeesatz";
        padding-bottom: 8px;
        
    }

    &__list {
        display: inline;

        a {
            text-decoration: none;
            color: #9b959b;
            font-size: 2rem;
            font-weight: 300;
            padding: 0px 25px;
        }

        a:active {
            color: #2d2b2d;
            font-size: 2rem;
            font-weight: 500;
        }
    }
}

.pizza-sets {
    display: flex;
    width: 1200px;
    margin: 70px auto;
    justify-content: space-around;

    &__container {
        text-align: center;
        border: 7px solid #fff;
        display: flex;
        flex-direction: column;
        padding: 10px 43px;
        width: 300px;
        padding-bottom: 30px;

    }

    &__btn--container {
        width: auto;
        margin: 0px auto;
        height: 50px;
    }

    &__container:hover {

        a {
            display: flex;
        }
    }

    &__container:hover {
        border: 7px solid #e9e9e9;
    }
    

    &__text-1 {
        font-family: "HelveticaNeue";
        font-weight: 500;
        font-size: 1.20rem;
        color: #2d2b2d;
    }

    &__text-2 {
        font-family: "Yanone Kaffeesatz";
        padding: 8px 8px;
        font-weight: 400;
        font-size: .95rem;
        line-height: 1.6;
        font-style: italic;
        color: #999791;
        width: 300px;
    }

    a {
        display: none;
        margin: 0px auto;

        i {
            position: absolute;
            padding: 10px 35px;
            font-size: 15px;
            color: #fff;
        }
    }


    &__btn {
        padding: 11px 57px;
        font-size: 0.85rem;
        font-weight: 600;
        color: #fff;
        border-radius: 35px;
        background-color: #c12527;
        border: none;
    }

    &__btn:hover {
        background-color: #9a1b1f;
        cursor: pointer;
    }
    
}

// SECTION PIZZA PROMO

.pizza-promo {
    display: flex;
    background-image: url("../src/assets/img/1-1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    padding: 70px 0px;


    &__container {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 1200px;
        margin: 0px auto;

    }

    &__text-1 {
        font-family: "Yanone Kaffeesatz";
        padding-top: 10px;
        font-size: 1.50rem;
        font-weight: 300;
        color: #fff;

        span {
            width: 100px;
            display: inline-block;
            margin-bottom: 8px;
            height: 2px;
            background: #f2f2f2;
        }
    }

    &__text-2 {
        font-family: "Yanone Kaffeesatz";
        padding: 18px 50px 0px;
        font-size: 4rem;
        color: #fff;
    }

    &__text-3 {
            display: flex;
            justify-content: center;
            padding-top: 40px;

        .first-text-container {
            display: flex;

            .text-1 {
                font-family: "Yanone Kaffeesatz";
                padding: 5px 1px 0px;
                font-size: 3rem;
                color: #fff;
                font-weight: 300;
            }

            .text-2 {
                font-family: "Yanone Kaffeesatz";
                padding: 18px 0px 0px;
                font-size: 6rem;
                color: #fff;
            }

            .text-3 {
                font-family: "Yanone Kaffeesatz";
                padding: 9px 0px 0px;
                font-size: 3rem;
                color: #fff;
            }

            .text-4 {
                font-family: "Yanone Kaffeesatz";
                color: #c2aa7e;
            }
        }

        .second-text-container {

            ul {
                margin: 0;
                padding-left: 20px;

                li {
                    text-align: left !important;

                    a {
                        font-family: "Yanone Kaffeesatz";
                        color: #c2aa7e;
                        font-size: 1.15rem;
                    }
                }
            }
        }
    }

    &__btn {


        input {
            padding: 16px 75px;
            font-size: .75rem;
            font-weight: 700;
            margin: 35px 50px 0px;
            color: #fff;
            border-radius: 6px;
            background-color: #c12527;
            border: none;
            cursor: pointer;
        }

        input:hover {
            background-color: #9a1b1f;
        }
    }

}

// Section Five

.section-5 {

    .pizza-header-2 {
        width: 72vw;
        border-bottom: 1px solid #e9e9e9;
        padding: 0px 18px;
        margin: 70px auto;
    
        &__text {
                text-align: center;
                font-weight: 400;
                color: #484848;
                padding-bottom: 10px;
        }
    
        &__border-bottom {
            width: 80px;
            display: block;
            margin: 0px auto;
            height: 3px;
            background-color: #c12527;
        }
    }
    &__container {

        .pizza-sets {

            &__container {
                text-align: center;
                border: 3px solid #fff;
                width: 270px;
                display: flex;
                padding: 0px 0px;
                flex-direction: column;
                padding-bottom: 30px;
            }

            &__container:hover {
                border: 3px solid #e9e9e9;
            }
        
            &__text-2 {
                width: auto;
                height: 100px;
            }
        }
    }



}

// Section 6

.section-6 {
    background-image: url("./assets/img/01-HomePage.png");
    background-position: center center;
    padding: 160px;
    position: relative;

    &__container {
        display: block;
        width: 1200px;
        margin: 0px auto;

        div {
            width: 400px;
            text-align: center;
        }

    }

    &__text-1 {
        text-align: center;
        font-size: 1.3rem;
    }

    &__text-2 {
        margin: 0px auto;
        width: 260px;
        color: #71706c;
        letter-spacing: 1px;
        margin-bottom: 20px;
    }

    &__btn--container {

        i {
            position: absolute;
            padding: 15px 55px;
            color: #fff;
        }

        input {
            padding: 15px 80px;
        }
    }
}

// Section-7

.section-7 {
    padding: 85px 0px;

    &__container {
        display: flex;
        width: 1200px;
        margin: 0 auto;
        justify-content: space-around;
    }

    &__item {
        text-align: center;

        i {
            color: #bdbdbd;
            font-size: 4.056em;
        }

        h3 {
            font-family: 'HelveticaNeue';
            font-weight: 500;
            margin-top: 15px;
            font-size: 1.1rem;
            color: #2d2b2d;
        }

        p {
            color: #71706c;
            font-family: 'HelveticaNeue';
            font-size: .90rem;
            line-height: 21px;
            padding: 0px 20px;
        }
    }
}

// Footer

.footer {
    background-color: #2c2c2c;
    padding-top: 80px;


    &__container {
        display: flex;
        flex-direction: column;
        width: 1200px;
        margin: 0 auto;
        text-align: center;
    }

    &__socials {

        ul {
            display: flex;
            justify-content: center;
            padding-left: 0px;
            margin-bottom: 40px;
        }

        .footer-items {
            font-size: 1.2rem;
            border: 1px solid #969696;
            padding: 10px;
            margin: 0px 12px;
            width: 30px;
            background: #2c2c2c;
            height: 30px;
            border-radius: 99%;

            a {
                color: #969696;

                i {
                    display: block;
                    padding: 2px 0px;
                }
            }
        }

    }

    &__address {
        ul {
            margin-bottom: 0px;

            li:nth-child(1):after {
                content: "|";
                padding-left: 25px;
                color: #c12527;
            }

            li:nth-child(2):after {
                content: "|";
                padding-left: 25px;
                color: #c12527;
            }

            li:nth-child(3):after {
                content: "|";
                padding-left: 25px;
                color: #c12527;
            }

            li {
                display: inline-block;
                color: #ddd;
                font-size: .75rem;
                padding-right: 17px;
            }
        }
    }

    p {
        font-size: .75rem;
        margin-bottom: 4.34em;
    }

    &__btn {

        i {
            position: absolute;
            padding: 22px 32px;
            font-size: 1.25rem;
            color: #fff;
        }

        input {
            padding: 20px 30px;
            width: 244px;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            font-size: .80rem;
            font-weight: 600;
            background: #f31438;
            border: 0px;
            color: #fff;
            text-align: center;
        }
    }
}

